# H1: "Data Science Tools and Ecosystem"

In [ ]:
"In this notebook, Data Science Tools and Ecosystem are summarized."

**Objectives:**
- List popular languages for Data Science
- Arithmetic Operations
- List Data Science Libraries
- List Data Science Tools
- Convert minutes to hours

"Some of the popular languages that Data Scientists use are:"
1. Python
2. R
3. Julia

"Some of the commonly used libraries used by Data Scientists include:"
1. NumPy
2. Keras
3. Pandas
4. SciPy
5. PandaTorch


|Data Science Tools|
|-------------------|


|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R-Studio|
|Apache Hadoop|

In [8]:
#H3: Below are a few examples of evaluating arithmetic expressions in Python
1+2
2-3
2/4

0.5

#H3: Below are a few examples of evaluating arithmetic expressions in Python
1+2

#H3: "Below are a few examples of evaluating arithmetic expressions in Python"
1+2

# H3: "Below are a few examples of evaluating arithmetic expressions in Python"

In [10]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [11]:
This will convert 200 minutes to hours by diving by 60
200/60

SyntaxError: invalid syntax (1631946044.py, line 1)

In [12]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

# H2: Author
Pallavi